

<ng-multiselect-dropdown class="custom-font-size...."
[placeholder]="'status'"
[settings]="dropdownSettings"
[data]="dropdownList"
[(ngModel)]="selectedItems"

(ngModelChange)="onItemSelect()"
>
</ng-multiselect-dropdown>

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker2">
    <input matStartDate placeholder="Start date" [(ngModel)]="beginDate">
    <input matEndDate placeholder="End date" [(ngModel)]="endDate" (ngModelChange)="onDateRangeChanged()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-date-range-picker #picker2></mat-date-range-picker>
</mat-form-field>       

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="tareekh"  (ngModelChange)="onDateChanged()" >
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Stage</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="stage" (selectionChange)="onChangeSelection()">
      <mat-option *ngFor="let stage of stages" [value]="stage">
        {{stage}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 

  

  